In [33]:
import pandas as pd

### This notebook generate a new csv file containnig some record only. Because trainLabels.csv file contains 35000 records

In [34]:
df= pd.read_csv("trainLabels.csv")
df

             image  level
0          10_left      0
1         10_right      0
2          13_left      0
3         13_right      0
4          15_left      1
...            ...    ...
35121  44347_right      0
35122   44348_left      0
35123  44348_right      0
35124   44349_left      0
35125  44349_right      1

[35126 rows x 2 columns]

In [35]:
df0=  df[df['level'] ==0].head(100) 
df1=  df[df['level'] ==1].head(100) 
df2=  df[df['level'] ==2].head(100) 
df3=  df[df['level'] ==3].head(100) 
df4=  df[df['level'] ==4].head(100) 
df4

           image  level
6        16_left      4
7       16_right      4
184     217_left      4
185    217_right      4
252     294_left      4
...          ...    ...
5334   6707_left      4
5335  6707_right      4
5340   6719_left      4
5341  6719_right      4
5555  6997_right      4

[100 rows x 2 columns]

In [36]:
traindf= pd.concat([ df0,df1, df2, df3, df4 ], ignore_index=True)
traindf.to_csv('train500.csv')

In [37]:
df0=  df[df['level'] ==0].tail(50) 
df1=  df[df['level'] ==1].tail(50) 
df2=  df[df['level'] ==2].tail(50) 
df3=  df[df['level'] ==3].tail(50) 
df4=  df[df['level'] ==4].tail(50)

In [38]:
testdf= pd.concat([ df0,df1, df2, df3, df4 ], ignore_index=True)

In [39]:
testdf.to_csv('test250.csv')